* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a191f;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
}

.header__search {
  padding: 8px;
  border: 2px solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__cover-inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover--darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0px;
}

.movie__title {
  font-size: 16px;
  color: #ffffff;
}

.movie__category {
  font-size: 14px;
  color: #ffd80e;
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 14px;
}

.movie__average--green {
  border: 1px solid green;
}

.movie__average--orange {
  border: 1px solid orange;
}

.movie__average--red {
  border: 1px solid red;
}
